.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; 
    padding: 20px;
}

.custom-card {
    width: 100%;
    transition: 1.2s;
}
.custom-card:hover{
    transform: scale(1.05);
}
.btnview{
transform: scale(1.2s);
}
.btnview:hover{
    transition: 1.02;
    background-color: blue;
}
.img{
    width: 50px;
    transition: 1.2s;
}
.img:hover{
    transform: scale(1.2);
}
@media screen and (max-width: 1024px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media screen and (max-width: 768px) {
    .card-container {
        grid-template-columns: 1fr; 
    }
}
